<header
  class="w-full px-8 py-4 bg-mainColor text-white flex items-center justify-between"
>
  <!-- Logo Section -->
  <div class="logo flex items-center gap-4 w-1/2 md:w-[25%]">
    <div class="w-[40px] h-[40px]">
      <img
        src="assets/images/task-management-logo.png"
        alt="logo"
        class="w-full h-full object-contain"
      />
    </div>
    <strong class="text-lg md:text-xl">DevTrackerPro</strong>
  </div>

  <!-- Account Section -->
  <div class="account flex items-center gap-4">
    <span class="hidden sm:block text-sm md:text-base"
      >Welcome, {{ user?.name | uppercase }}</span
    >
    <button
      (click)="onLogout()"
      class="text-white text-xl hover:text-secondaryColor transition cursor-pointer"
    >
      <fa-icon [icon]="faRightFromBracket"></fa-icon>
    </button>
  </div>
</header>
