<div class="tasks space-y-4">
  <div class="flex flex-wrap justify-between items-center mb-4 gap-4">
    <h3 class="font-semibold text-lg flex-1 min-w-0">Tasks</h3>
    <div class="flex flex-wrap gap-3 w-full md:w-auto">
      <select
        class="border border-gray-300 rounded-lg px-3 py-1.5 w-full md:w-auto focus:border-fuchsia-500 focus:ring-fuchsia-500 transition"
        (change)="filterTasks($event)"
      >
        <option value="">Filter Tasks by</option>
        <option value="all">All Tasks</option>
        <option value="priority:high">Priority: High</option>
        <option value="priority:medium">Priority: Medium</option>
        <option value="priority:low">Priority: Low</option>
        <option value="status:not-started">Status: Not Started</option>
        <option value="status:in-progress">Status: In Progress</option>
        <option value="status:completed">Status: Completed</option>
      </select>
    </div>
  </div>

  <div class="space-y-4">
    @if (tasks?.length == 0) {
    <div
      class="relative flex flex-col items-center justify-center min-h-[30vh] text-center z-0"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/4076/4076400.png"
        alt="No Tasks"
        class="w-24 h-24 mb-2 opacity-80 brightness-200"
      />
      <p class="text-lg font-semibold opacity-80 no-tasks">
        No tasks yet for this project! Start by adding a task.
      </p>
    </div>
    } @else { @if(filteredTasks.length==0){
    <p
      class="text-center text-lg text-gray-500 font-medium p-4 bg-gray-100 rounded-lg shadow-sm"
    >
      🚀 No tasks in this category! Get started by adding your first task.
    </p>
    }@else { @for (task of filteredTasks; track task._id) {

    <app-task
      [task]="task"
      (deleteTask)="onDeleteTask($event)"
      (editTask)="onEditTask($event)"
    />
    } } }
  </div>
</div>
