<section class="bg-mainColor w-[90%] rounded-2xl py-6 px-10 shadow-xl">
  <header class="flex items-center justify-between mb-6">
    <h2 class="text-white font-bold text-3xl">
      {{ user?.name | uppercase }}'s Projects
    </h2>
    <button
      type="submit"
      class="py-2 px-6 rounded-xl font-medium transition duration-300 text-white bg-secondaryColor hover:bg-opacity-80 cursor-pointer hover:bg-fuchsia-500"
      (click)="onStartAddProject()"
    >
      + Add Project
    </button>
  </header>
  @if(userProjects().length==0){
  <p>No Project yset</p>
  }@else { @for (project of userProjects(); track project._id) {

  <app-project
    [project]="project"
    (deleteProject)="onDeleteProject($event)"
    (editProject)="onEditProject($event)"
    (addTask)="onStartAddTask($event)"
    (editTask)="onEditTask($event)"
  />

  } }
</section>
